# All other content and static resources
/content/ @cabforum/forum-chairs
/static/ @cabforum/forum-chairs

# Infrastructure Subcommittee is responsible for all other website resources
* @cabforum/infrastructure-subcommittee

# Server Certificate Working Group
/content/**scwg** @cabforum/servercert-chairs
/content/**server-certificate** @cabforum/servercert-chairs

# Server Certificate Working Group
/content/**codesigning** @cabforum/codesigning-chairs
/content/**cscwg** @cabforum/codesigning-chairs

# Server Certificate Working Group
/content/**smime** @cabforum/smime-chairs
/content/**smcwg** @cabforum/smime-chairs
/content/**smc-** @cabforum/smime-chairs

# Server Certificate Working Group
/content/**netsec** @cabforum/netsec-chairs
