<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partialCached "header.html" . }}

    {{ $sass := resources.Get "scss/main.scss" }}
    {{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    
  </head>
  <body>
    <div class="d-none d-lg-block py-2"></div>
    
    <div class="container-lg">
      <div class="row shadow-sm bg-white border-top border-bottom border-primary border-4">
        <div class="mt-4 p-4 mb-1 col-md-6">
          <a href="/">
            <img src="{{ .Site.BaseURL }}/img/cabforum-logo-tag-right.svg" width="80%" alt="CA/Browser Forum">
          </a>
        </div>

        {{ partial "navbar.html" . }}
      </div>

      <div class="row d-none d-lg-block py-2"></div>

      <main class="row bg-white border-lg">
      {{ block "main" . }}
        {{ .Content }}
      {{ end }}
      </main>

      <div class="row" data-pagefind-ignore="all">
      {{- if .Page.Store.Get "hasMermaid" -}}
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
      {{- end -}}

      {{ block "footer" . }}
      {{ partial "footer.html" . }}
      {{ end }}
      </div>
      
    </div>
  </body>
</html>
