<div class="row gx-0 gx-lg-4 p-0 mx-0 my-2">

    <div class="col-12 col-lg-9">
        {{- if (not .IsHome) -}}
        <div class="border-bottom p-1 mb-2 fw-light">
            <small>
                {{ partial "breadcrumbs.html" . }}
            </small>
        </div>
        {{- end -}}

        <div class="overflow-hidden text-wrap bg-white shadow-sm border-bottom border-primary border-4">
            <div id="content" class="p-2 p-lg-4 border-top-lg border-start-lg border-end-lg" data-pagefind-body>
                <div class="border-bottom mb-2"><h1>{{ if .Params.Header }}{{ .Params.Header }}{{ else }}{{ .Title }}{{ end }}</h1></div>
                <div class="pt-3">{{ .Content }}</div>
            </div>
        </div>

        <div class="mb-2"></div>
    </div>
    
    <div class="col col-lg-3">
        {{- if and (ne .Type "post") (not .IsHome) -}}
            <div class="mb-4 mt-2">{{- partial "menu.html" . -}}</div>
        {{- end -}}
        <div class="mb-4 d-none d-lg-block">{{- partialCached "search.html" . -}}</div>
        <div class="mb-4 d-none d-lg-block">
            <div class="bg-white shadow-sm border-bottom border-primary border-4">
                <div class="border-top border-start border-end">
                    <div class="bg-body-secondary fw-bolder p-1 text-uppercase">Latest releases</div>
                    <div class="p-4">
                        {{- partialCached "release-latest.html" (dict "title" "Server Certificate Requirements" "repository" "servercert" "filename" "docs/BR.md") "servercert" -}}
                        {{- partialCached "release-latest.html" (dict "title" "Code Signing Requirements" "repository" "code-signing" "filename" "docs/CSBR.md") "code-signing" -}}
                        {{- partialCached "release-latest.html" (dict "title" "S/MIME Requirements" "repository" "smime" "filename" "docs/SBR.md") "smime" -}}
                        {{- partialCached "release-latest.html" (dict "title" "Network and Certificate System Security Requirements" "repository" "netsec" "filename" "docs/NSR.md") "netsec" -}}
                    </div>
                </div>
            </div>
        </div>
        {{- if eq .Type "post" -}}
            <div class="mb-4 d-none d-lg-block">
                <div class="bg-white shadow-sm border-bottom border-primary border-4">
                    <div class="border-top border-start border-end">
                        <div class="bg-body-secondary fw-bolder p-1 text-uppercase">Related posts</div>
                        <div class="menu py-4">
                            {{- $related := .Site.RegularPages.Related . | first 5 -}}
                            {{- with $related -}}
                                <ul>
                                {{- range . -}}
                                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                                {{- end -}}
                                </ul>
                            {{- end -}}
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4 d-none d-lg-block">
                <div class="bg-white shadow-sm border-bottom border-primary border-4">
                    <div class="border-top border-start border-end">
                        <div class="bg-body-secondary fw-bolder p-1 text-uppercase">Tags</div>
                        <div class="p-4">
                            {{- with .Params.tags -}}
                                {{- partial "tags.html" . -}}
                            {{- end -}}
                        </div>
                    </div>
                </div>
            </div>
    
        {{- end -}}
    </div>
    
</div>