{{ define "menuSection" }}
    {{- range first 50 .Section.RegularPages.ByWeight -}}
        <li class="{{ if .Eq $.Page }} active{{ end }}"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .LinkTitle }}</a></li>
    {{- end -}}
    
    {{- if .Section.RegularPages -}}
        <div class="pt-4"></div>
    {{- end -}}

    {{- range .Section.Sections -}}
        <li class="fw-bold{{ if .Eq $.Page }} active{{ end }}"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .LinkTitle }}</a></li>
        <ul>
            {{ template "menuSection" (dict "Section" . "Page" $.Page) }}
        </ul>
    {{- end -}}
{{ end }}


<div class="bg-white shadow-sm border-bottom border-primary border-4">
    <div class="menu border-top-lg border-start-lg border-end-lg">
        {{ with .CurrentSection }}
        <div class="bg-body-secondary fw-bolder p-1 text-uppercase"><a class="text-reset text-decoration-none" href="{{ .Permalink }}" title="{{ .Title }}">{{ .LinkTitle }}</a></div>
            <ul class="pt-4">
                {{ template "menuSection" (dict "Section" . "Page" $.Page) }}
            </ul>
        {{- end -}}
    </div>
</div>
