<div class="mb-4">
    <a href="{{ .Permalink }}" title="{{ .Title }}" class="fw-bold">{{ .Title }}</a>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with $.Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    <small class="d-inline-block text-truncate overflow-hidden">
        {{ $.PublishDate.Format $customDateFormat }} by {{ .Params.Author }} - {{ partial "tags" $.Params.tags }}
    </small>
    <span class="d-inline-block text-body-secondary">{{ .Summary }}</span>
</div>