<div class="mb-4">
    <a href="{{ .Permalink }}" title="{{ .Title }}" class="fw-bold">{{ .Title }}</a>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with $.Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    <small class="d-inline-block mw-100 text-truncate overflow-hidden pe-1">
        {{ $.PublishDate.Format $customDateFormat }} by <a href="{{ $.Site.BaseURL }}author/{{ urlize .Params.Author }}/">{{ .Params.Author }}</a>
    </small>
    <div class="d-inline-block mw-100 text-truncate overflow-hidden">
        {{ partial "tags" $.Params.tags }}
    </div>
    <span class="d-inline-block text-body-secondary">{{ .Summary }}</span>
</div>