{{- $url := (printf "https://api.github.com/repos/cabforum/%s/releases/latest" .repository) -}}
{{- $opts := dict
    "headers" (dict "Authorization" (printf "Bearer %s" (getenv "GITHUB_TOKEN")))
-}}

{{- with resources.GetRemote $url $opts -}}
    {{- with .Err -}}
        {{- warnf "%s - %s" . $url -}}
        <div class="border-bottom pb-2 mb-4">Unable to retrieve latest release information from the <a href="https://github.com/cabforum/{{ $.repository }}/releases" target="_blank">{{ $.repository }} repository</a>.</div>
    {{- else -}}
        {{- with .Content | transform.Unmarshal -}}
        <div class="border-bottom pb-2 mb-4">
            <strong>{{ .title }}</strong>
            <strong><a href="https://github.com/cabforum/code-signing/blob/{{ .tag_name }}/{{ $.filename }}" target="_blank">{{ .name }}</a></strong><br />
            <small>{{ .published_at | time.Format ":date_medium" }}</small><br />
            <p>{{ .body }}</p>
        </div>
        {{- end -}}
    {{- end -}}   
{{- end -}}
