{{ define "main" }}

<div class="row g-4 p-4">
    <div class="col-9">
        <div class="border-bottom pb-1 mb-2 fw-light">
            <small>
                <a href="/">Home</a> »  
                {{ partial "breadcrumbs.html" . }}
            </small>
        </div>

        <div class="bg-white shadow-sm border-bottom border-primary border-4">
            <div id="content" class="p-4 border-top border-start border-end" data-pagefind-body>
                <div class="border-bottom mb-2"><h1>{{ .Title }}</h1></div>
                <div class="pt-3">{{ .Content }}</div>
                <div class="pt-3">
                  {{ range first 3 (where .Site.RegularPages "Type" "post") }}
                  {{ partial "pagelisting.html" . }}
                  {{ end }}
                </div>
                <a class="btn btn-secondary btn-sm" href="/posts/" title="{{.Site.Params.name}} Blog">More CA/Browser Forum posts</a>
            </div>
        </div>
    </div>
    
    <div class="col-3">
        <div class="mb-4">{{- partial "search.html" . -}}</div>
        <div class="mb-4">
            <div class="bg-white shadow-sm border-bottom border-primary border-4">
                <div class="border-top border-start border-end">
                    <div class="bg-body-secondary fw-bolder p-1 text-uppercase">Latest releases</div>
                    <div class="p-4">
                        {{- partial "release-latest.html" (dict "title" "Server Certificate" "repository" "servercert" "filename" "docs/BR.md") -}}
                        {{- partial "release-latest.html" (dict "title" "Code Signing" "repository" "code-signing" "filename" "docs/CSBR.md") -}}
                        {{- partial "release-latest.html" (dict "title" "S/MIME" "repository" "smime" "filename" "docs/SBR.md") -}}
                        {{- partial "release-latest.html" (dict "title" "Network and Certificate System Security Requirements" "repository" "netsec" "filename" "docs/NSR.md") -}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

{{ end }}