{{- $forum_group_name := (or (.Get `forum_group_name`) $.Page.Params.forum_group_name "") -}}
{{- $status := (or (.Get `status`) $.Page.Params.ballot_status "") -}}

{{- with partial "ballots.html" (dict "forum_group_name" $forum_group_name "status" $status) -}}
<ul>
    {{- range . -}}
    <li id="{{ .name | anchorize }}" title='Created at {{ .created_at | time.Format ":date_full" }} in the {{ .forum_group_name }}; current status "{{ .status }}"'>{{ .name }}</li>
    {{- end -}}
</ul>
{{- else -}}
    {{- if and $forum_group_name $status -}}
        <em>There are no ballots with the status "{{ $status }}" in the {{ $forum_group_name }}</em>
    {{- else -}}
        <em>No ballots in this category</em>
    {{- end -}}
{{- end -}}
