{{- $p := site.RegularPages -}}

{{- $limit := 250 -}}
{{- with (.Get `limit`) -}}
    {{- $limit = . -}}
{{- end -}}

{{- with (.Get `type`) -}}
    {{- $p = where $p "Type" . -}}
{{- end -}}

{{- with (.Get `tags`) -}}
    {{- $tags := split . "," -}}
    {{- range $tags -}}
        {{ $p = where $p "Params.tags" "intersect" (slice .) }}
    {{- end -}}
{{- end -}}

{{- with (eq ($.Get `summary`) false ) -}}
    <ul>
    {{- range first $limit $p -}}
        <li><a href="{{ .Permalink }}" title="{{ .Title }}" class="fw-bold">{{ .Title }}</a></li>
    {{- end -}}
    </ul>
{{- else -}}
    {{- range first $limit $p -}}
        {{- partial "pagelisting.html" . -}}
    {{- end -}}
{{- end -}}
