{{- $url := (printf "https://member-tools.cabforum.org/api/getMemberOrgs?forum_group_name=%s&participant_type=%s" (.Get `wg`) (.Get `type`)) -}}
{{- $opts := dict
    "headers" (dict 
        "X-API-KEY" (getenv "CABF_API_TOKEN")
        "Accept" "application/json"
    )
-}}

{{- with try (resources.GetRemote $url $opts) -}}
    {{- with .Err -}}
        {{- warnf "Failed to retrieve members: %s - %s" . $url -}}
        Unable to retrieve members of working-group {{ $.Get `wg` }} from the membership tools.
    {{- else with .Value -}}
        {{- with . | transform.Unmarshal -}}
            <ul>
                {{- range . -}}
                    <li>
                    {{- if strings.HasPrefix .web_url "https://" -}}
                        <a href="{{ .web_url }}" target="_blank" title="Go to the website of {{ .name }}">{{ .name }}</a>
                    {{- else -}}
                        {{ .name }}
                    {{- end -}}
                    </li>
                {{- end -}}
            </ul>
        {{- else -}}
            {{- if and ($.Get `wg`) ($.Get `type`) -}}
                <em>There are no "{{ $.Get `type` }}" members in the {{ $.Get `wg` }}</em>
            {{- else -}}
                <em>No members in this category</em>
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- else -}}
    Unable to retrieve members of working-group {{ $.Get `wg` }} from the membership tools.
{{- end -}}
